@import url('https://fonts.googleapis.com/css?family=Lato|Supermercado+One');
body{
    background-image: url('./img/map-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Lato';
    font-size: 18px;
    
    
}

/* Use the 'Lato' font family at 18px throughout the body of the document, and cover the background with the './img/map-bg.jpg' image. */
/*DONE */
nav {font-family: sans-serif; font-size: 10px;}

#main {width: 900px; margin: 10px auto;}
/*DONE*/
h1{
    font-family: 'Supermercado One';
    color: #5d4037;
    font-size: 45px;

}
/* Use the 'Supermercado One' font at 45px (colored #5d4037) for the restaurant name. */
/*DONE*/


/* Set the separator between the columns (the "column-rule") to be 2px dashed rosybrown. */
#menu {columns: 400px 2; column-gap: 100px;}
section {margin-bottom: 50px;}

/*DONE*/
section h2{
    font-variant-caps: all-small-caps;
    color: #6d4c41;
}
/* Show each of the section headings of the menu (e.g. "Starters") in small caps, colored #6d4c41. */
/*DONE*/
h2 {margin: 0;}

/*DONE*/
section dl dt{
    font-weight: bold;
    font-size: 20px;
}
/* Make the name of each menu item appear in bold in a 20px size. */
/*DONE*/


dd {margin: 0 0 12px 0; display: flex;}

.details {order: 1;}

/*DONE*/
.price{
    font-size: large;
    color: firebrick ;
}
/* Show the price of each item in a large font, in the color named 'firebrick' */
.price {order: 2; padding-left: 10px;}
/*DONE*/
footer address{
    border-style: dashed;
    border-color: rosybrown;
    border-width: 2px;
}
/* Draw a 2px dashed rosybrown border around the address/footer */
/*DONE*/
address {padding: 10px;}