@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Oswald');
/*DONE*/
body{
    font-family: 'Oswald';
    font-size: 14px;
}
/* Use the 'Oswald' font family at 14px throughout the body of the document. */
/*DONE*/

nav {font-family: sans-serif; font-size: 10px;}

#main {width: 900px; margin: 10px auto;}
/*DONE*/
header h1{
    font-family: 'Bungee Inline';
    font-size: 46px;
    font-weight: lighter;
}
/* Use the 'Bungee Inline' font at 46px and lighter weight for the restaurant name. */
/*DONE*/


#menu {columns: 420px 2; column-gap: 60px;}
section {margin-bottom: 20px; padding: 10px;}
/*DONE*/
section h2{
    font-variant-caps: all-petite-caps;
    

}
/* Show each of the section headings of the menu (e.g. "Starters") in uppercase. */
/*DONE*/
h2 {margin-top: 0;}
/*DONE*/
section dl dt{
    font-weight: bold;
    font-size: 16px;
}

/* Make the name of each menu item appear in bold in a 16px size. */
/*DONE*/
dt {display: inline;}


/*DONE*/
section dt::after{
    content: ",";
    
}
/*DONE*/

/* Make a comma appear after the name of each menu item (before the description) */

dd {display: inline; margin: 0;}
dd::after {content: " "; display: block; clear: both; margin-bottom: 15px;}

.price {float: right; padding: 0 0 35px 20px;}
/*DONE*/
footer address{
    text-align: right;
}
/* Right-align the text of the address/footer */

#starters, #desserts {
    border-style: solid;
    border-color: black;
    border-width: 2px;
     
}
/*DONE*/
/* draw a 2px black border around the starters and desserts sections of the menu */
